{% extends 'examenes/base.html' %}

{% block content %}
    <div>
        <h1>Geometría Analítica 2020-2</h1>
    </div>
    <div>
        <h2>Profesor Titular: <a href="http://www.fciencias.unam.mx/directorio/34266">Dr. Pablo Suárez Serrato</a></h2>
        <h2>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/98369">Dr. Jose Crispín Ruíz Pantaleón</a></h2>
        <h2>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/78791">M.C. Haydee Contreras Peruyero</a></h2>
        <h2>Ayudante: <a href="http://www.fciencias.unam.mx/directorio/81233">Lic. Elsa Fernanda Torres Feria</a></h2>
    </div>
    <br>
    <div>
        <h2>Servidor desarollado por: </h2>
        <ul>
          <li>Dr. Pablo Suárez Serrato</li>
          <li>Dr. Jose Crispín Ruíz Pantaleón</li>
          <li>M.C. Miguel Angel Evangelista Alvarado</li>
          <li>M.C. Fernando Adrián Frías Ochoa</li>
        </ul>
    </div>
    <div>
        <h3><a href="/">Regresar</a></h3>
    </div>
{% endblock %}
